<h1 class="title">Account_Transaction</h1>

<table>
    <thead>
        <tr>
            <th>Junction ID</th>
            <th>Account ID</th>
            <th>Transaction ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each account_transaction}}
            <tr>
                <td>{{this.jxnID}}</td>
                <td>{{this.accountID}}</td>
                <td>{{this.transactionID}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Account Transaction Form 
<h2>Add Account Transaction</h2>
<form id="add-transaction-form">
    <label for="jxnID">Junction ID:</label>
    <input type="number" id="add-jxnID-input" name="jxnID" required>

    <label for="accountID">Account ID:</label>
    <input type="number" id="add-accountID-input" name="accountID" required>

    <label for="transactionID">Transaction ID:</label>
    <input type="number" id="add-transactionID-input" name="transactionID" required>

    <button type="button" id="add-transaction-cancel-input">Cancel</button>
    <input type="submit" id="add-transaction-confirm-input" value="Submit">
</form>
-->

<!-- Edit Account Transaction Form
<form id="edit-transaction-form">
    Edit Account Transaction
    <label for="jxnID">Junction ID:</label>
    <input type="number" id="edit-jxnID-input" name="jxnID" required>

    <label for="accountID">Account ID:</label>
    <input type="number" id="edit-accountID-input" name="accountID">

    <label for="transactionID">Transaction ID:</label>
    <input type="number" id="edit-transactionID-input" name="transactionID">

    <button type="button" id="edit-transaction-cancel-input">Cancel</button>
    <input type="submit" id="edit-transaction-confirm-input" value="Submit">
</form>
-->

<!-- Delete Account Transaction Form
<form id="delete-transaction-form">
    Delete Account Transaction
    <label for="jxnID">Junction ID:</label>
    <input type="number" id="delete-jxnID-input" name="jxnID" required>

    <button type="button" id="delete-transaction-cancel-input">Cancel</button>
    <input type="submit" id="delete-transaction-confirm-input" value="Submit">
</form>
-->

<!-- Include script file -->
<script src="/js/account_transaction.js"></script>
