<h1 class="title">Accounts</h1>

<table id="accounts-table">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {{#each accounts}}
            <tr>
                <td>{{this.accountID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.balance}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Account Form -->
<h2>Add Account</h2>
<form id="add-form">
    <label for="name">Name:</label>
    <input type="text" id="add-name-input" name="name" required>

    <label for="balance">Balance:</label>
    <input type="number" id="add-balance-input" name="balance" required>

    <input type="submit" id="add-confirm-input" value="Submit">
</form>

<!-- Edit Account Form -->
<h2>Edit Account</h2>
<form id="edit-form">
    <label for="accountID">Account ID:</label>
    <input type="number" id="edit-accountID-input" name="accountID" required>

    <label for="name">Name:</label>
    <input type="text" id="edit-name-input" name="name">

    <label for="balance">Balance:</label>
    <input type="number" id="edit-balance-input" name="balance">

    <input type="submit" id="edit-confirm-input" value="Submit">
</form>

<!-- Delete Account Form -->
<h2>Delete Account</h2>
<form id="delete-form">
    <label for="accountID">Account ID:</label>
    <input type="number" id="delete-accountID-input" name="accountID" required>

    <input type="submit" id="delete-confirm-input" value="Submit">
</form>

<!-- Include script file -->
<script src="/js/accounts.js"></script>
