<h1>Accounts</h1>

<table id="accounts-table">
    <thead>
        <tr>
            <th>Account ID</th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {{#each accounts}}
            <tr>
                <td>{{this.accountID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.balance}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Account Form -->
<form id="add-form">
    Add Account
    <!-- other inputs -->
    <button type="button" id="add-cancel-input">Cancel</button>
    <input type="submit" id="add-confirm-input" value="Submit">
</form>

<!-- Edit Account Form -->
<form id="edit-form">
    Edit Account
    <!-- other inputs -->
    <button type="button" id="edit-cancel-input">Cancel</button>
    <input type="submit" id="edit-confirm-input" value="Submit">
</form>

<!-- Delete Account Form -->
<form id="delete-form">
    Delete Account
    <!-- other inputs -->
    <button type="button" id="delete-cancel-input">Cancel</button>
    <input type="submit" id="delete-confirm-input" value="Submit">
</form>

<!-- Include script file -->
<script src="/js/accounts.js"></script>
