<form id="delete-{{entityName}}-form" action="/{{entityName}}/delete" method="post" style="display: none;">
    <label for="id">ID:</label><br>
    <input type="text" id="delete-id" name="id" required><br>
    <input type="submit" value="Delete {{entityName}}">
</form>
