<header>
    <nav>
        <a href="/index.html">Home</a>
        <a href="/accounts">Accounts</a>
        <a href="/transactions">Transactions</a>
        <a href="/transactionStatus">Transaction Statusus</a>
        <a href="/customers">Customers</a>
        <a href="/certificates">Certificates</a>
        <a href="/customer_account">Customer Accounts</a>
        <a href="/account_transaction">Account Transactions</a>
    </nav>
</header>
