<header>
    <nav>
        <a href="/">Home</a>
        <a href="/accounts">Accounts</a>
        <a href="/transactions">Transactions</a>
        <a href="/transactionStatus">Transaction Status</a>
        <a href="/customers">Customers</a>
        <a href="/certificates">Certificates</a>
        <a href="/customer_account">Customer Account</a>
        <a href="/account_transaction">Account Transaction</a>
    </nav>
</header>
