<h1 class="title">Transaction Statuses</h1>

<table id="status-table">
    <thead>
        <tr>
            <th>Status ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each transactionStatus}}
            <tr>
                <td>{{this.statusID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Transaction Status Form -->
<h2>Add Transaction Status</h2>
<form id="add-form">
    <label for="statusID">Status ID:</label>
    <input type="number" id="add-statusID-input" name="statusID" required>

    <label for="name">Name:</label>
    <input type="text" id="add-name-input" name="name" required>

    <label for="description">Description:</label>
    <input type="text" id="add-description-input" name="description" required>

    <button type="button" id="add-cancel-input">Cancel</button>
    <input type="submit" id="add-confirm-input" value="Submit">
</form>

<!-- Edit Transaction Status Form -->
<h2>Edit Transaction Status</h2>
<form id="edit-form">
    <label for="statusID">Status ID:</label>
    <input type="number" id="edit-statusID-input" name="statusID" required>

    <label for="name">Name:</label>
    <input type="text" id="edit-name-input" name="name">

    <label for="description">Description:</label>
    <input type="text" id="edit-description-input" name="description">

    <button type="button" id="edit-cancel-input">Cancel</button>
    <input type="submit" id="edit-confirm-input" value="Submit">
</form>

<!-- Delete Transaction Status Form -->
<h2>Delete Transaction Status</h2>
<form id="delete-form">
    <label for="statusID">Status ID:</label>
    <input type="number" id="delete-statusID-input" name="statusID" required>

    <button type="button" id="delete-cancel-input">Cancel</button>
    <input type="submit" id="delete-confirm-input" value="Submit">
</form>

<!-- Include script file -->
<script src="/js/transactionStatus.js"></script>
