<!-- READ ONLY PAGE -->

<!-- Render Customer_Account table -->
<table>
    <thead>
        <tr>
            <th>Jxn ID</th>
            <th>Customer ID</th>
            <th>Account ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each customer_accounts}}
        <tr>
            <td>{{this.jxnID}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.accountID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
