{{> header }}

<main>
    <h1>404 - Page Not Found</h1>
    <p>The requested page could not be found. Please check the URL and try again.</p>
    <a href="/">Return to Home</a>
</main>

{{> footer }}
