/* Reset margins and padding, and set box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set up the body with a Roboto font, a darker background, and layout it out as a flex container */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f3f6;
  font-family: 'Roboto', sans-serif;
  color: #333;
  overflow-y: scroll; /* Always show the scrollbar to keep the header content consistent */
}

/* Styling the header and footer with a lighter background */
header, footer {
  background-color: #e8eef2;
  padding: 10px;
  text-align: center;
}

/* Add padding on the left and right to the body content */
.body-content {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: auto;  /* Add a scrollbar only when necessary */
  flex-grow: 1; /* This will allow body-content to take up remaining space */
}

/* Styling navigation links */
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

/* Adding a blue tone to navigation links on hover */
nav a:hover {
  color: #3178C6; 
}

/* Adding a class for centered titles with padding */
.title {
  text-align: center;
  padding: 20px 0;
}

/* Color styling for headers */
h1, h2 {
  color: #444;
}

/* Styling tables and their components */
table, th, td {
  border: 1px solid #444;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 20px;  /* Add space at the end of the table */
}

/* Make table cells white */
th, td {
  background-color: #ffffff;
}

/* Styling form labels and inputs */
form label {
  display: inline-block;  /* This will make the label display inline with its input */
  margin-right: 10px;
}

form input[type="number"], 
form input[type="text"], 
form input[type="datetime-local"] {
  display: inline-block;  /* This will make each input display inline with its label */
  margin-bottom: 10px;  /* Add space below each input */
}

/* Styling buttons and submit inputs */
form input[type="submit"],
form button {
  display: inline-block;  /* This will make each button display inline with the other */
  margin-top: 10px;  /* Add space above each button */
  margin-bottom: 20px;  /* Add space below each button */
  background-color: #3178C6; /* Make buttons blue */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* Darken buttons on hover */
form input[type="submit"]:hover,
form button:hover {
  background-color: #255a85; /* Darker shade of blue */
}

/* Add space to the left of the cancel button */
form button {
  margin-left: 10px;
}
